@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

*
{
    background-color: #628395;
    box-sizing: border-box;
}
body
{
    font-family: 'Otomanopee One', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* margin: 0; */

}
.heading
{
    color: white;
}
.screen
{
    width: 70%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.controls
{
    display: flex;
    margin-top:0;
    width: 70%;
    border: 3px solid white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.controls .timer
{
    display: flex;
    margin: 7px 5px;
    color:white;
}
.controls .btn
{
    background: transparent;
    border: none;
    color:#1a3341;
}
.controls .prog_bar
{
    background: transparent;
    margin: 0px 8px;
}
@media( max-width:360px )
{
    .heading
    {
        font-size:50%;
    }
    .controls
    {
        display: block;
    }
    .screen .controls
    {
        width: 70%;
    }
}