@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color:skyblue;
    display: flex;
    flex-direction:column;
    color:navy;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.movie-container
{
    margin:20px 0;
}
.movie-container select
{
    border: 0;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 15px;
    background-color:mintcream;
    padding: 5px 15px 5px 15px;
    appearance: none;
    -webkit-appearance: none;
}
.seat
{
    background-color: mintcream;
    height: 12px;
    width: 13px;
    margin: 4px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.seat.selected
{
    background-color: navy;
}
.seat.occupied
{
    background-color:mediumblue;
}
.seat:nth-of-type(2)
{
    margin-right:15px;
}
.seat:nth-last-of-type(2)
{
    margin-left: 15px;
}
.seat:not(.occupied):hover
{
    cursor: pointer;
    transform: scale(1.2);
}
.cinema
{
    background-color:darkgrey;
    padding: 5px 10px;
    color:indigo;
    border-radius: 5px;
    list-style-type:none;
    display: flex;
    justify-content: space-between;
}
.container
{
    perspective: 700px;
    margin-bottom: 30px;
}
.cinema li
{
    margin:0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen
{
        background-color: white;
        height: 70px;
        width: 100%;
        margin: 15px 0;
        transform: rotateX(-45deg);
        box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.7);
}
.cinema small
{
    margin-left:2px ;
}
.cinema .seat:not(.occupied):hover
{
    cursor:default;
    transform: scale(1);
}
.row
{
    display: flex;
}
.text
{
    margin:5px 0;
}
.text span
{
    color:grey;

}